Arpeggio==1.10.2
attrs==21.2.0
certifi==2021.10.8
charset-normalizer==2.0.7
dill==0.3.4
grpcio==1.41.1
idna==3.3
parver==0.3.1
protobuf==3.19.0
pulumi==3.16.0
pulumi-aws==4.25.0
pulumi-kubernetes==3.8.3
pulumi-random==4.3.1
PyYAML==6.0
requests==2.26.0
semver==2.13.0
six==1.16.0
urllib3==1.26.7
